.component-button {

	&__button {
		border-radius: 4px;
		cursor: pointer;
		font-family: $copy-font;
		font-size: 0.75em;
		outline: 0;
		padding: 15px;
		text-transform: uppercase;
		transition: all 0.3s ease-in;

		&[disabled] {
			pointer-events: none;
			opacity: 0.5;
		}

		&[hidden] {
			display: none;
		}

		@media screen and (min-width: 768px) {
			font-size: 1em;
			padding: 20px;
		}

		&--hide {
			display: none;

			@media screen and (min-width: 330px) {
				display: flex;
			}
		}

		&--menu {
			font-size: 0.6em;
			font-weight: 700;
			margin-bottom: 0 !important;
			padding: 5px 10px;

			@media screen and (min-width: 480px) {
				font-size: 0.65em;
			}

			@media screen and (min-width: 768px) {
				font-size: 0.75em;
			}
		}

		&--green {
			background-color: $green;
			border: 2px solid $green;
			color: $off-white;

			@media screen and (min-width: 768px) {
				&:hover {
					background-color: transparent;
				}
			}
		}

		&--clear {
			background-color: transparent;
			border: 2px solid $orange;
			color: $off-white;

			@media screen and (min-width: 768px) {
				&:hover {
					background: $orange;
				}
			}
		}

		&--submit {
			align-self: center;
			background-color: transparent;
			border: 2px solid $off-white;
			color: $off-white;
			font-size: 1em;
			padding: 20px;
			width: 150px;

			@media screen and (min-width: 768px) {
				&:hover {
					background-color: $navy;
					border: 2px solid $navy;
				}
			}
		}
	}
}