.component-header {
	align-items: center;
	background-color: $navy;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 90px;
	left: 0;
	padding: 20px;
	position: fixed;
	top: 0;
	transition: all .3s ease-in;
	width: 100%;
	z-index: 20;

	&__logo {
		height: 50px;
	}

}