.component-header {
	align-items: center;
	background-color: $navy;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: space-between;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	transition: all .3s ease-in;
	width: 100%;
	z-index: 20;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	@media screen and (min-width: 480px) {
		padding: 20px;
	}

	&__logo {
		height: 25px;

		@media screen and (min-width: 480px) {
			height: 30px;
		}
	}

	&__instagram-logo {
		height: 28px;

		@media screen and (min-width: 480px) {
			height: 29px;
		}

		@media screen and (min-width: 768px) {
			height: 31px;
		}

		img {
			height: 100%;
		}
	}

	&__button-container {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 140px;

		@media screen and (min-width: 480px) {
			width: 260px;
		}

		@media screen and (min-width: 768px) {
			width: 285px;
		}
	}

}