.component-hero {
	height: 120%;
	width: 100%;
	overflow: hidden;

	&__hero-background {
		align-items: center;
		display: flex;
		background-image: url('../images/bg-hero.jpg');
		background-position: center center;
		background-size: 100% 100%;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		position: relative;
		transition: all .075s ease-in;
		width: 100%;

		&--overlay {
			background: $navy;
			background: linear-gradient(0deg, rgba(0,0,0,0) 0%, $navy 85%);
			height: 100%;
			left: 0;
			opacity: 0.25;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}

	&__hero-gradient {
		background: transparent;
		background: linear-gradient(0deg, $off-white 0%, rgba(0,0,0,0) 45%);
		bottom: -20%;
		height: 50%;
		pointer-events: none;
		position: absolute;
		width: 100%;
	}

	&__logo-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		max-width: 591px;
		position: fixed;
		transition: all .075s ease-in;
		width: 100%;
		z-index: 2;

		@media screen and (min-width: 768px) {
			padding: 0;
		}
	}

	&__logo {
		width: 230px;

		@media screen and (min-width: 768px) {
			width: 100%;
		}
	}

	&__logo-text {
		color: $off-white;
		font-family: $logo-font;
		font-size: 1.125em;
		letter-spacing: -0.3px;
		margin-top: 10px;
		text-transform: uppercase;

		em {
			font-weight: 700;
		}

		@media screen and (min-width: 768px) {
			font-size: 1.175em;
			margin-top: 0;
			position: absolute;
			right: 0;
			top: 95px;
		}
	}


	&__button-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 120px;
		margin-top: 30px;
		width: 100%;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			height: auto;
			max-width: 350px;
		}
	}

	&__instagram-logo {
		height: 51px;

		@media screen and (min-width: 768px) {
			height: 64px;
		}

		img {
			height: 100%;
		}
	}
}