.component-who {
	padding-bottom: 50px;

	&__profile-image {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		margin-bottom: 25px;
		width: 100%;
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		-ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		-o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}

	&__philosophy {
		display: flex;
		flex-direction: column;
		padding-bottom: 100px;

		@media screen and (min-width: 768px) {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-block {
			width: 100%;

			@media screen and (min-width: 768px) {
				width: 45%;
			}
		}
	}
}