// Reset
@import 'reset';

// Colors
$navy: #27333d;
$off-white: #efefef;
$green: #48a65b;
$orange: #fbb849;

// Fonts
$copy-font: 'Montserrat', sans-serif;
$header-font: 'Merriweather', serif;
$logo-font: 'Open Sans', sans-serif;

// Components
@import 'components/hero';
@import 'components/header';
@import 'components/buttons';

body, html {
	background-color: $navy;
	color: $off-white;
	font-family: $copy-font;
	font-size: 18px;
	height: 100%;
	text-transform: uppercase;
	width: 100%;

	#root {
		height: 100%;
		width: 100%;
	}
}

.component-app {
	height: 100%;
	width: 100%;

	#copy-wrap	{
		background-color: $off-white;
		padding: 25px 0;
		position: relative;
		width: 100%;
		z-index: 10;

		div {
			margin: 0 auto;
			max-width: 1024px;

			p {
				color: $navy;
				font-family: $copy-font;
				font-size: 1.25em;
				margin: 15px 0;
				text-transform: none;
			}
		}
	}
}